body{
    background-color: #a8db6a;
    font-family: "Helvetica";
}
.square{
    border-color: #4e4e49;
    border-style: solid;
    align-content: center;
    float:left;
    position: relative;
    width: 31%;
    height: 21vw;
    margin: 2px;
    border-radius: 10px;
    display: table;
}
.tekstRute{
    font-size: 120px;
    color: #4e4e49;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.tittel{
    text-decoration: underline #f6008b;
}
.vinner{
    font-size: 80px;
    color: #ffffff;
    padding: 10%;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    background-color: #f6008b;
}
.square:hover{
    transition: 0.2s;
    background-color: #7aad59;
    cursor: pointer;
}
.container{
    width: 100%;
}
.left{
    text-align: center;
    width: 10%;
    padding: 2em;
    float: left;
    height: 100%;
}
.board{
    margin: 0 auto;
    background-color: #a8db6a;
    width: 60%;
}
h1{
    text-align: center;
}
.myButton{
    padding: 1em;
    background-color: #40bde4;
    border-color: #dbe4db;
    border-style: solid;
    border-width: thin;
    border-radius: 8px;
    text-decoration: none;
    color: #4e4e49;
}
.myButton:hover{
    transition: 0.5s;
    background-color: #4086ad;
    cursor: pointer;
}
